@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/** container **/
.container {
    padding-left: lrem;
    padding-right: lrem;

}